<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Cocktail Mate</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet"
			  th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
			  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			  crossorigin="anonymous">

		<!-- FontAwesome CSS -->
		<link rel="stylesheet"
			  th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}"
			  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			  crossorigin="anonymous">
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link th:href="@{${'https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap'}}" rel="stylesheet">

		<!-- Local CSS files -->
		<link rel="stylesheet" th:href="@{css/animate.css}">
		<link rel="stylesheet" th:href="@{css/style.css}">
	</head>

	<body>
		<!-- Header -->
		<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 d-flex align-items-center">
						<p class="mb-0 phone pl-md-2">
							<a th:href="@{#}" class="mr-2"><span class="fa fa-chain"></span> Link to portfolio site</a>
							<a th:href="@{${'mailto:iainuk@protonmail.com'}}"><span class="fa fa-paper-plane mr-1"></span> iainuk@protonmail.com</a>
						</p>
					</div>
					<div class="col-md-6 d-flex justify-content-md-end">
						<div class="social-media mr-4">
							<p class="mb-0 d-flex">
								<a th:href="@{https://www.github.com/Iainuk86}" class="d-flex align-items-center justify-content-center"><span class="fa fa-github"><i class="sr-only">GitHub</i></span></a>
								<a th:href="@{https://www.facebook.com}" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
								<a th:href="@{https://www.linkedin.com}" class="d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"><i class="sr-only">Linked In</i></span></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End of header -->

		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
			<div class="container">
				<a class="navbar-brand" th:href="@{/home}">Cocktail <span>Mate</span></a>
				<div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a th:href="@{/home}" class="nav-link">Home</a></li>
						<li class="nav-item"><a th:href="@{/cocktails}" class="nav-link">Cocktail List</a></li>
						<li class="nav-item"><a th:href="@{/contact}" class="nav-link">Contact</a></li>
						<li class="nav-item">
							<form method="POST" th:action="@{/cocktails}" id="searchForm" name="searchForm">
								<div class="container h-100">
									<div class="d-flex justify-content-center h-100">
										<div class="searchbar" onfocus="this.classList.add('wide')">
											<input class="search_input" type="text" name="keyword" id="keyword" placeholder="Search..." autocomplete="off" />
											<a href="javascript:void(0)" onclick="document.forms['searchForm'].submit()"><i class="fas fa-search"></i></a>
										</div>
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End of Navbar -->

		<!-- Top background with headers section -->
		<section class="hero-wrap hero-wrap-2" th:style="'background-image: url(images/bg_2.jpg);'" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-end justify-content-center">
					<div class="col-md-9 ftco-animate mb-5 text-center">
						<p class="breadcrumbs mb-0"><span class="mr-2"><a th:href="@{/home}">Home <i class="fa fa-chevron-right"></i></a></span> <span>Cocktail Helper <i class="fa fa-chevron-right"></i></span></p>
						<h2 class="mb-0 bread">Let's find you a cocktail!</h2>
					</div>
				</div>
			</div>
		</section>
		<!-- End of top background -->

		<!-- Beginning of Help form -->
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-10 ftco-animate">
						<form method="POST" th:action="@{/helper}" th:object="${input}" id="helpForm" name="helpForm" class="billing-form">
							<h2 class="mb-4 billing-heading">Just some quick questions for you</h2>
							<div class="row align-items-end">
								<div class="col-md-6">
									<div class="form-group">
										<label>Preferred taste group</label>
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="taste" id="taste" class="form-control" th:field="*{taste}">
												<option value="sweet">Sweet</option>
												<option value="sour">Sour</option>
												<option value="bitter">Bitter</option>
												<option value="salty">Salty</option>
												<option value="spicy">Spicy</option>
												<option value="strong">Boozy</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Pick your poison ...</label>
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="spirit" id="spirit" class="form-control" th:value="*{spirit}">
												<option value="vodka">Vodka</option>
												<option value="gin">Gin</option>
												<option value="rum">Rum</option>
												<option value="whiskey">Whiskey</option>
												<option value="tequila">Tequila</option>
												<option value="brandy">Brandy</option>
												<option value="none">None of these!</option>
											</select>
										</div>
									</div>
								</div>
								<div class="w-100"></div>
								<div class="col-md-6 offset-md-3">
									<div class="form-group">
										<label>Is it hot today?</label>
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="weather" id="weather" class="form-control" th:value="*{weather}">
												<option value="hot">Yes</option>
												<option value="cold">No</option>
											</select>
										</div>
									</div>
								</div>
								<div class="w-100"></div>
							</div>

							<div class="row col-md-8 offset-md-2">
								<div class="form-group">
									<div class="col-md-12">
										<div class="checkbox">
											<label><input type="checkbox"> I have seen and accept the consequences of my own actions</label>
										</div>
									</div>
								</div>
								<div class="w-100"></div>
								<div class="row col-md-6 offset-md-3">
									<input type="hidden" />
									<p><a href="javascript:void(0)" onclick="document.forms['helpForm'].submit()" class="btn btn-primary justify-content-center">Hurry up I'm thirsty</a></p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- End of form -->

		<!-- Footer section -->
		<footer class="ftco-footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md">
						<div class="ftco-footer-widget mb-1">
							<h2 class="ftco-heading-2 logo"><a th:href="@{/home}">Cocktail <span>Mate</span></a></h2>
							<p>Helping you when you can't help yourself.</p>
							<ul class="ftco-footer-social list-unstyled mt-2">
								<li class="ftco-animate"><a th:href="@{https://www.github.com/Iainuk86}"><span class="fa fa-github"></span></a></li>
								<li class="ftco-animate"><a th:href="@{https://www.facebook.com}"><span class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a th:href="@{https://www.linkedin.com}"><span class="fa fa-linkedin"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md">
						<div class="ftco-footer-widget mb-4 ml-md-4">
							<h2 class="ftco-heading-2">Navigation</h2>
							<ul class="list-unstyled">
								<li><a th:href="@{/home}"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
								<li><a th:href="@{/cocktails}"><span class="fa fa-chevron-right mr-2"></span>Cocktail List</a></li>
								<li><a th:href="@{/helper}"><span class="fa fa-chevron-right mr-2"></span>Cocktail Helper</a></li>
								<li><a th:href="@{/random}"><span class="fa fa-chevron-right mr-2"></span>Random Cocktail</a></li>
								<li><a th:href="@{/contact}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Have any Questions?</h2>
							<div class="block-23 mb-3">
								<ul>
									<li><span class="icon fa fa-map-pin"></span><span class="text">Lewisham, Sydney, Australia</span></li>
									<li><a th:href="@{#}"><span class="icon fa fa-globe"></span><span class="text">Portfolio</span></a></li>
									<li><a th:href="@{tel:0458633414}"><span class="icon fa fa-phone"></span><span class="text">0458 633 414</span></a></li>
									<li><a th:href="@{${'mailto:iainuk@protonmail.com'}}"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">iainuk@protonmail.com</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End of footer -->

		<script th:src="@{js/jquery.min.js}"></script>
		<script th:src="@{js/jquery-migrate-3.0.1.min.js}"></script>
		<script th:src="@{js/jquery.easing.1.3.js}"></script>
		<script th:src="@{js/jquery.waypoints.min.js}"></script>
		<script th:src="@{js/jquery.stellar.min.js}"></script>
		<script th:src="@{js/owl.carousel.min.js}"></script>
		<script th:src="@{js/jquery.animateNumber.min.js}"></script>
		<script th:src="@{js/main.js}"></script>
    
  	</body>
</html>