<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Cocktail Mate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        <!-- FontAwesome CSS -->
        <link rel="stylesheet"
              th:href="@{https://use.fontawesome.com/releases/v5.5.0/css/all.css}"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link th:href="@{${'https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap'}}" rel="stylesheet">

        <!-- Local CSS files -->
        <link rel="stylesheet" th:href="@{css/animate.css}">
        <link rel="stylesheet" th:href="@{css/style.css}">
    </head>

    <body>
        <!-- Header -->
        <div class="wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <p class="mb-0 phone pl-md-2">
                            <a th:href="@{#}" class="mr-2"><span class="fa fa-chain"></span> Link to portfolio site</a>
                            <a th:href="@{${'mailto:iainuk@protonmail.com'}}"><span class="fa fa-paper-plane mr-1"></span> iainuk@protonmail.com</a>
                        </p>
                    </div>
                    <div class="col-md-6 d-flex justify-content-md-end">
                        <div class="social-media mr-4">
                            <p class="mb-0 d-flex">
                                <a th:href="@{https://www.github.com/Iainuk86}" class="d-flex align-items-center justify-content-center"><span class="fa fa-github"><i class="sr-only">GitHub</i></span></a>
                                <a th:href="@{https://www.facebook.com}" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                                <a th:href="@{https://www.linkedin.com}" class="d-flex align-items-center justify-content-center"><span class="fa fa-linkedin"><i class="sr-only">Linked In</i></span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of header -->

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" th:href="@{/home}">Cocktail <span>Mate</span></a>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a th:href="@{/home}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a th:href="@{/cocktails}" class="nav-link">Cocktail List</a></li>
                        <li class="nav-item"><a th:href="@{/contact}" class="nav-link">Contact</a></li>
                        <li class="nav-item">
                            <form method="POST" th:action="@{/cocktails}" id="searchForm" name="searchForm">
                                <div class="container h-100">
                                    <div class="d-flex justify-content-center h-100">
                                        <div class="searchbar" onfocus="this.classList.add('wide')">
                                            <input class="search_input" type="text" name="keyword" id="keyword" placeholder="Search..." autocomplete="off" />
                                            <a href="javascript:void(0)" onclick="document.forms['searchForm'].submit()"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End of Navbar -->

        <!-- Top background with headers section -->
        <div class="hero-wrap" th:style="'background-image: url(images/bg_2.jpg);'" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-8 ftco-animate d-flex align-items-end">
                        <div class="text w-100 text-center">
                            <h1 class="mb-4">It's <span>cocktail</span> night?</h1>
                            <h1 class="mb-4"><span>Ask</span> your <span>Mate</span>.</h1>
                            <p>
                                <a th:href="@{/cocktails}" class="btn btn-primary py-2 px-4">Show all</a>
                                <a th:href="@{/random}" class="btn btn-white btn-outline-white py-2 px-4">Random cocktail</a>
                                <a th:href="@{/helper}" class="btn btn-white btn-outline-white py-2 px-4">Help me decide</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Top Background -->

        <!-- Information carousel -->
        <section class="ftco-intro">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex">
                        <div class="intro d-lg-flex w-100 ftco-animate">
                            <div class="icon">
                                <span class="flaticon-support"></span>
                            </div>
                            <div class="text">
                                <h2>Cocktail Support 24/7</h2>
                                <p>Everybody needs a mate to turn to for cocktail advice. Let us be yours in your time of need.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex">
                        <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                            <div class="icon">
                                <span class="flaticon-cashback"></span>
                            </div>
                            <div class="text">
                                <h2>Money Loss Guarantee</h2>
                                <p>Warning: Danger of developing good taste. We take no responsibility for financial losses. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex">
                        <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                            <div class="icon">
                                <span class="flaticon-free-delivery"></span>
                            </div>
                            <div class="text">
                                <h2>All completely free</h2>
                                <p>Recipes taken from some of the finest bars around the world. Direct to your fingertips.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of carousel -->

        <!-- Cocktail of the Month section -->
        <section class="ftco-section ftco-no-pb">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" th:style="'background-image: url(images/cocktails/2.jpg);'">
                    </div>
                    <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
                        <div class="heading-section">
                            <span class="subheading">Cocktail of the Month</span>
                            <h2 class="mb-4">Mai Tai</h2>

                            <p>The Mai Tai started as a rum cocktail so popular it supposedly depleted world rum supplies in the 1940s and '50s. It was invented in 1944 by Victor J. Bergeron, better known as Trader Vic.</p>
                            <p>Bergeron highlighted the golden rum with lime, Orgeat, Orange Curaçao, and simple syrup. According to legend, after presenting the cocktail to some of his Tahitian friends, they exclaimed, "Maita’i roa a’e," which translates to "out of this world! The best!" Bergeron christened his new cocktail "Mai Tai", as in "the best".</p>
                            <p>Various juices were later added to appeal to tourists, the addition of which has unfortunately continued until today. Here we make it without.</p>
                            <p class="year">
                                <span>(Ir)responsibly drunk for</span>
                                <strong class="number" data-number="77">0</strong>
                                <span>Years.</span>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End of Cocktail of the Month section -->

        <!-- Cocktail spirit selection -->
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 ">
                        <form method="POST" th:action="@{cocktails}" id="brandy">
                            <div class="sort w-100 text-center ftco-animate">
                                <input type="hidden" th:value="'brandy'" name="keyword" />
                                <a href="javascript:void(0)" onclick="document.forms['brandy'].submit()">
                                    <div class="img" th:style="'background-image: url(images/kind-1.jpg);'"></div>
                                </a>
                                <h3>Brandy</h3>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <form method="POST" th:action="@{cocktails}" id="gin">
                            <div class="sort w-100 text-center ftco-animate">
                                <input type="hidden" th:value="'gin'" name="keyword" />
                                <a href="javascript:void(0)" onclick="document.forms['gin'].submit()">
                                    <div class="img" th:style="'background-image: url(images/kind-2.jpg);'"></div>
                                </a>
                                <h3>Gin</h3>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <form method="POST" th:action="@{cocktails}" id="rum">
                            <div class="sort w-100 text-center ftco-animate">
                                <input type="hidden" th:value="'rum'" name="keyword" />
                                <a href="javascript:void(0)" onclick="document.forms['rum'].submit()">
                                    <div class="img" th:style="'background-image: url(images/kind-3.jpg);'"></div>
                                </a>
                                <h3>Rum</h3>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <form method="POST" th:action="@{cocktails}" id="tequila">
                            <div class="sort w-100 text-center ftco-animate">
                                <input type="hidden" th:value="'tequila'" name="keyword" />
                                <a href="javascript:void(0)" onclick="document.forms['tequila'].submit()">
                                    <div class="img" th:style="'background-image: url(images/kind-4.jpg);'"></div>
                                </a>
                                <h3>Tequila</h3>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <form method="POST" th:action="@{cocktails}" id="vodka">
                            <div class="sort w-100 text-center ftco-animate">
                                <input type="hidden" th:value="'vodka'" name="keyword" />
                                <a href="javascript:void(0)" onclick="document.forms['vodka'].submit()">
                                    <div class="img" th:style="'background-image: url(images/kind-5.jpg);'"></div>
                                </a>
                                <h3>Vodka</h3>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <form method="POST" th:action="@{cocktails}" id="whiskey">
                            <div class="sort w-100 text-center ftco-animate">
                                <input type="hidden" th:value="'whiskey'" name="keyword" />
                                <a href="javascript:void(0)" onclick="document.forms['whiskey'].submit()">
                                    <div class="img" th:style="'background-image: url(images/kind-6.jpg);'"></div>
                                </a>
                                <h3>Whiskey</h3>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of spirit selection -->

        <!-- Footer section -->
        <footer class="ftco-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget mb-1">
                            <h2 class="ftco-heading-2 logo"><a th:href="@{/home}">Cocktail <span>Mate</span></a></h2>
                            <p>Helping you when you can't help yourself.</p>
                            <ul class="ftco-footer-social list-unstyled mt-2">
                                <li class="ftco-animate"><a th:href="@{https://www.github.com/Iainuk86}"><span class="fa fa-github"></span></a></li>
                                <li class="ftco-animate"><a th:href="@{https://www.facebook.com}"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a th:href="@{https://www.linkedin.com}"><span class="fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-4">
                            <h2 class="ftco-heading-2">Navigation</h2>
                            <ul class="list-unstyled">
                                <li><a th:href="@{/home}"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                                <li><a th:href="@{/cocktails}"><span class="fa fa-chevron-right mr-2"></span>Cocktail List</a></li>
                                <li><a th:href="@{/helper}"><span class="fa fa-chevron-right mr-2"></span>Cocktail Helper</a></li>
                                <li><a th:href="@{/random}"><span class="fa fa-chevron-right mr-2"></span>Random Cocktail</a></li>
                                <li><a th:href="@{/contact}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Have any Questions?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon fa fa-map-pin"></span><span class="text">Lewisham, Sydney, Australia</span></li>
                                    <li><a th:href="@{#}"><span class="icon fa fa-globe"></span><span class="text">Portfolio</span></a></li>
                                    <li><a th:href="@{tel:0458633414}"><span class="icon fa fa-phone"></span><span class="text">0458 633 414</span></a></li>
                                    <li><a th:href="@{${'mailto:iainuk@protonmail.com'}}"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">iainuk@protonmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of footer -->

        <script th:src="@{js/jquery.min.js}"></script>
        <script th:src="@{js/jquery-migrate-3.0.1.min.js}"></script>
        <script th:src="@{js/jquery.easing.1.3.js}"></script>
        <script th:src="@{js/jquery.waypoints.min.js}"></script>
        <script th:src="@{js/jquery.stellar.min.js}"></script>
        <script th:src="@{js/owl.carousel.min.js}"></script>
        <script th:src="@{js/jquery.animateNumber.min.js}"></script>
        <script th:src="@{js/main.js}"></script>

    </body>
</html>